# Site URL
NEXT_PUBLIC_SITE_URL=https://portfolio-shah-faisal.vercel.app/

# Contact Info
NEXT_PUBLIC_WHATSAPP_NUMBER=+92 3100122738
NEXT_PUBLIC_EMAIL=faisalagentai@gmail.com

# Email Service (e.g. Resend)
RESEND_API_KEY=re_ZU6fxyRH_By8wMUm3NTdYsqNvFzcBXNME

# Optional: EmailJS (for contact form)
NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=

# Optional: Analytics
NEXT_PUBLIC_GA_ID=
