# Site Configuration
NEXT_PUBLIC_SITE_URL=https://yourportfolio.vercel.app

# Email Service (e.g. Resend)
RESEND_API_KEY=re_2tZRCRo3_8CYdE8Nwsp5yLc3vZMScsrFm

# Analytics (optional)
#NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
