# Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Contact Info
NEXT_PUBLIC_WHATSAPP_NUMBER=+923100122738
NEXT_PUBLIC_EMAIL=faisalagentai@gmail.com

# Optional: EmailJS (for contact form)
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_8bv8bqx
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_58k9tqy
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=nqQgwRL_jBKT9SDKa

# Optional: Analytics
NEXT_PUBLIC_GA_ID=G-8KJGJY3DE5
