# Site Configuration
NEXT_PUBLIC_SITE_URL=https://portfolio-shah-faisal.vercel.app/

# Email Service (e.g. Resend)
RESEND_API_KEY=re_ZU6fxyRH_By8wMUm3NTdYsqNvFzcBXNME

# Analytics (optional)
#NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
